* {
    border: 0;
    margin: 0;
    padding: 0;
}

section h3 {
    color: #555;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 30px;
}

nav {
    color: white;
    display: flex;
    background-color: #232323;
    padding: 0px 10px;
    position: fixed;
    right: 50px;
    top: 80px;
    z-index: 2;
}

nav ul {
    font-weight: bold;
    list-style: none;
    text-align: center;
}

nav ul li {
    cursor: pointer;
    padding: 32px 5px;
}

nav ul li:hover {
    opacity: 0.6;
}

#main_image {
    background-color: #ffb900;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 0px;
}



#main_image h2 {
    bottom: 30px;
    color: white;
    left: 30px;
    position: absolute;
    font-size: 48px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#experience_section {
    background-color: white;
    font-family: 'Overpass Mono', monospace;
}

#experience_section #logos_container {
    /*background-color: cornflowerblue;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    width: 80%;
}

#experience_section figure {
    width: 25%;
    font-size: 0px;
}

#experience_section figure img {
    height: auto;
    width: 100%;
}

#briefcase_section {
    background-color: white;
    font-family: 'Overpass Mono', monospace;
}

#briefcase_section #briefcase_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    width: 95%;
}

#briefcase_section article {
    /*background-color: burlywood;*/
    margin: 20px 20px;
    width: 501px;
}

#briefcase_section article figure {
    background-color: darkslategray;
    font-size: 0;
    width: 100%;
}

#briefcase_section article img {
    height: auto;
    width: 100%;
}

#briefcase_section article div a {
    color: darkgoldenrod;
    font-weight: 600;
}

#briefcase_section article p {
    margin-top: 5px;
    text-align: justify;
}

#briefcase_section .work_description {
    padding-top: 12px;
}

#scraping_section {
    background-color: white;
    font-family: 'Overpass Mono', monospace;
}

#scraping_section #scraping_info_container {
    display: flex;
    margin: 30px auto;
    max-width: 1110px;
    width: 95%;
}

#scraping_section h4 {
    color: darkgoldenrod;
}

#scraping_section p {
    margin: 20px 0px;
}

#scraping_section #scraping_info_container div {
    width: 50%;
    margin: 20px 30px;
}

#contact_section {
    background-color: #666;
}
